<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find jh_simulation)/launch/tiago.launch">
        <arg name="world_suffix" value="table_clu"/>
    </include>

    <node name="table_segmentation" pkg="plane_segmentation" type="plane_seg" output="log"/>  

    <include file="$(find gpd_ros)/launch/ur5.launch"/>

    <node name="smach_viewer" pkg="smach_viewer" type="smach_viewer.py" output="log"/>  

    <node name="grabber" pkg="grab_capabilities" type="grabber" output="screen"/>  

    <include file="$(find object_detection)/launch/object_detection.launch"/>

</launch>
